.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.button-group {
    display: flex;
    gap: 1rem;
}

.btn-primary {
    background-color: #3498db;
    color: white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #2980b9;
}

/* (新增) */
.btn-secondary {
    background-color: #f39c12;
    color: white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 4px;
}

.btn-secondary:hover {
    background-color: #e67e22;
}


.btn-edit {
    background-color: #f39c12;
    color: white;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 0.5rem;
}

.btn-edit:hover {
    background-color: #e67e22;
}

.btn-remove {
    background-color: #e74c3c;
    color: white;
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-remove:hover {
    background-color: #c0392b;
}

table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #f4f7f6;
    }
}